{% load static %}  <!-- Load the static template tag library -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Home</title>
	<link rel="stylesheet" href="{% static 'pong/style.css' %}">
</head>
<body>
    <h1><center>Welcome to Pong!</center></h1>
	<div class="buttonContainer">
		<!-- Botón "Create Player" -->
		<form id="createPlayerForm" action="{% url 'add_player' %}" method="post">
			{% csrf_token %}
			<button class="button createPlayerButton" type="submit">Create Player</button>
		</form>
		
		<!-- Menú desplegable para seleccionar jugador 1 -->
		<form id="selectPlayerForm" action="{% url 'player_selection' %}" method="post" class="selectPlayerForm">
			{% csrf_token %}
			<select name="selected_player1" id="selected_player1" class="playerSelect">
				<option value="" selected disabled>Select Player 1</option>
				{% for player in players %}
					<option value="{{ player.id }}">{{ player.name }}</option>
				{% endfor %}
			</select>
		<button class="button playButton" type="submit" id="playButton">Play</button>
		
			{% csrf_token %}
			<select name="selected_player2" id="selected_player2" class="playerSelect">
				<option value="" selected disabled>Select Player 2</option>
				{% for player in players %}
					<option value="{{ player.id }}">{{ player.name }}</option>
				{% endfor %}
			</select>
		
		</form>

		<!-- Menú desplegable para borrar jugador -->
		{% if players %}
    <ul id="playerList">
        {% for player in players %}
	        {% if player.name != "AI" %}    
				<li class="playerItem">
			  	    <span>{{ player.name }}</span>
            	    <!-- Formulario para eliminar el jugador -->
              		<form class="deletePlayerForm" action="{% url 'delete_player' player.id %}" method="post">
                    	{% csrf_token %}
                    	<button type="submit">Delete</button>
                	</form>	
            	</li>
			{% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No players available.</p>
{% endif %}
	</div>
</body>
</html>

