{% load static %}  <!-- Load the static template tag library -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Match  {{ match.id }} | Pong</title>
</head>
<body>
    <!-- Contenido del juego Pong -->
	<div class="wrapper">		
		<h3>
			<p id="player1-name">{{ name }}</p>
			<p id="player2-name">Waiting</p>
		</h3>
    	<div class="container">
			<canvas id="pongGame" width="640px" height="400px"></canvas>
		</div>
	</div>
	
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   	<script>		
		const socket = new WebSocket("ws://" + window.location.host + "/ws/game/{{match.id}}/")
		
		let canvas = document.getElementById('pongGame')
		let stateMatch = {
			'ball': {
				'x': canvas.width / 2- 5,
				'y': canvas.height / 2 - 5,
			},
			'player1': {
				'x': 10,
				'y': canvas.height / 2 - 40,
				'score': 0,
				'name': ""
			},
			'player2': {
				'x': canvas.width - 25,
				'y': canvas.height / 2 - 40,
				'score': 0,
				'name': "",
			},
		}
		let v = 4
		let color = 'white'
		let ballWidth = 10
		let ballHeight = 10
		let playerWidth = 15
		let playerHeight = 80
		let y = canvas.height / 2 - 40
		let player = ""
		const playerName = document.getElementById(`player1-name`).innerHTML

		const ctx = canvas.getContext('2d')

		function drawPaddles(){
			ctx.fillRect(stateMatch.player1.x, stateMatch.player1.y, playerWidth, playerHeight)
			ctx.fillRect(stateMatch.player2.x, stateMatch.player2.y, playerWidth, playerHeight)
		}

		function drawBall(){
			ctx.fillRect(stateMatch.ball.x, stateMatch.ball.y, ballWidth, ballHeight)
		}

		function drawNet(){
			ctx.fillRect(canvas.width / 2 - 1, 0, 2, canvas.height)
		}

		function drawScores(){
			if (document.fonts.check('1em PressStart2P')) {
				ctx.font = '50px PressStart2P';
				ctx.fillText(stateMatch.player1.score, canvas.width / 2 - 70, 70)
				ctx.fillText(stateMatch.player2.score, canvas.width / 2 + 25, 70)
			}
			else {
				setTimeout(drawScore, 100);
			}
		}

		function drawElements() {
			ctx.clearRect(0, 0, canvas.width, canvas.height)
			ctx.fillStyle = 'white'
			drawBall()
			drawNet()
			drawPaddles()
			drawScores()
		}
		
		socket.onopen = e => {
			console.log(e)
		}
		
		socket.onmessage = e => {
			console.log(e)
			const data = JSON.parse(e.data)
			if(data.event == "show_error"){
				Swal.fire({
					icon: "error",
					title: data.error,
				}).then(e => window.location.href = "/")
			}
			else if(data.event == "game_start"){
				player = data.player
				if (player == "1"){
					stateMatch.player1.name = playerName
					document.getElementById("player1-name").innerHTML = playerName
					document.getElementById("player2-name").innerHTML = "Joined"
				}else{
					stateMatch.player2.name = playerName
					document.getElementById("player2-name").innerHTML = playerName
					document.getElementById("player1-name").innerHTML = "Joined"
				}
				drawElements()
			}
			else if(data.event == "game_update"){
				stateMatch = data.stateMatch
				drawElements()
			}
		}

		document.addEventListener('keydown', function(e) {
			const key = e.key;
			if (player == "1"){
				y = stateMatch.player1.y
			}
			else{
				y = stateMatch.player2.y
			}

			if ((key === 'ArrowUp' && y - v > 0) || 
				(key === 'ArrowDown' && y + playerHeight + v < canvas.height))
				y += key === 'ArrowUp' ? -v : v
				if(player == "1"){
					stateMatch.player1.y = y
				}else{
					stateMatch.player2.y = y
				}
				socket.send(JSON.stringify({
					"event": 'game_update',
					"stateMatch": stateMatch,
				}))
		})

	</script>

</body>

</html>

