{% load static %}  <!-- Load the static template tag library -->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'styles/pong.css' %}">
    <title>Match  {{ match.id }} | Pong</title>
</head>

<body>
	<div class="wrapper">		
		<h3>
			<p id="player1-name">{{ name }}</p>
			<p id="player2-name">Waiting</p>
		</h3>
    	<div class="container">
			<canvas id="pongGame" width="640px" height="400px"></canvas>
		</div>
	</div>
	
	<script>
		const socket = new WebSocket("ws://" + window.location.host + "/ws/game/{{match.id}}/")
	</script>
   	
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
	<script src="{% static 'js/pong.js' %}"></script>

</body>

</html>

