<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/pong.css">
    <title>Match  Pong</title>
</head>

<body>
	<div class="wrapper">		
		<h3>
			<p id="player1-name">YOU</p>
			<p id="player2-name">OPPONENT</p>
		</h3>
    	<div class="container">
			<canvas id="pongGame" width="640px" height="400px"></canvas>
		</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
	<script src="../static/js/pongHUMAN.js"></script>
	
</body>

</html>