@font-face {
	font-family: 'PressStart2P';
	src: url(PressStart2P.ttf) format('truetype');
}

@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Change background color to black */
    font-family: 'PressStart2P', sans-serif; /* Use Press Start 2P font */
    color: #fff; /* Set text color to white */
}

header {
	text-align: center;
	font-family: 'PressStart2P', sans-serif;
	color: #fff;
}

h3 {
	display: flex;
    justify-content: space-between;
}

canvas {
    border: 10px solid #fff;
    background-color: #000;
	display: block;
	max-width: 100%;
    height: auto;
}

.container {
	width: 100%;
    width: 640px;
    text-align: center;
}

.opponent-left {
	flex: 1;
    text-align: left;
}

.opponent-right {
	flex: 1;
    text-align: right;
	animation: blink 1s infinite;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu li {
    margin-bottom: 20px;
    text-align: left;
}

#menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff; /* Add border */
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}

/* Media Queries for Responsive Design */
@media screen and (min-width: 768px) {
    .container {
        padding: 0 20px; /* Adjust padding */
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 80%;
        max-width: none; /* Remove maximum width */
    }
}