{% load static %}  <!-- Load the static template tag library -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'pong/styles2.css' %}">
    <title>Pong Game</title>
</head>
<body>
    <!-- Contenido del juego Pong -->
	<div id="home-url" data-url="{% url 'home' %}" style="display: none;"></div>
    <div class="container">
		<h2>
			<span class="opponent-left">{{ opponent1 }}</span>
			<span class="opponent-right">{{ opponent2 }}</span>
		</h2>
		<canvas id="pongGame" width="640px" height="400px"></canvas>
	</div>
	{% if opponent1 != "AI" and opponent2 != "AI" %}
    	<script src="{% static 'pong/startvshuman.js' %}"></script>
	{% else %}
    	<script src="{% static 'pong/startvsIA.js' %}"></script>
	{% endif %}
    <script src="{% static 'pong/keyboard.js' %}"></script>
    <script src="{% static 'pong/game.js' %}"></script>
    <script src="{% static 'pong/players.js' %}"></script>
	<script src="{% static 'pong/drawings.js' %}"></script>
	<script src="{% static 'pong/ball.js' %}"></script>
</body>
</html>

