body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #007bff;
}

h2 {
    color: #333;
}

/* Estilos para los botones */
.button {
    padding: 12px 24px; /* Aumentamos el padding para hacerlos más grandes */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Agregamos una transición suave */
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos para el contenedor de los botones */
.buttonContainer {
    display: flex;
    justify-content: space-between; /* Distribuye los botones horizontalmente */
    margin-top: 20px; /* Ajustamos el margen superior para separar los botones */
}

/* Estilos específicos para el botón "Create Player" */
.createPlayerButton {
    width: 200px; /* Ajustamos el ancho para que sea más grande */
}

/* Estilos específicos para el botón "Play" */
.playButton {
    width: 150px; /* Ajustamos el ancho para que sea más grande */
}

.playerList {
    list-style-type: none;
    padding: 0;
}

.playerItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.playerItem span {
    margin-right: 10px;
}

.selectPlayerForm {
    margin-top: 20px;
}

.selectPlayerForm select {
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

.selectPlayerForm button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.selectPlayerForm button:hover {
    background-color: #0056b3;
}
/* Estilos para el menú desplegable */
.playerSelect {
    padding: 12px 24px; /* Aumentamos el padding para hacerlo más grande */
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.playerSelect option {
    color: #333;
}