/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   play.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: adpachec <adpachec@student.42madrid.com>   +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/04/22 13:06:21 by adpachec          #+#    #+#             */
/*   Updated: 2024/04/22 17:56:19 by adpachec         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

:root {
    --pong-dark: #212529;
    --pong-light: #f8f9fa;
    --pong-accent: #0d6efd;
    --font-family-pong: 'Press Start 2P', monospace;
}

.play-options-container {
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
	margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: var(--black);
    border-radius: 2vh;
    opacity: 0.98;
	justify-content: center;
	max-width: 960px;
}

.play-title{
	font-size: 3vh;
	color: var(--electric-blue);
    margin-bottom: 3vh;
}

.game-options {
	margin-top: 5vh;
    margin-bottom: 5vh;
    justify-content: center;
    display: flex;
    gap: 5vh;
}

.game-option-button {
    background-color: var(--index-red);
    color: white;
    border: none;
    padding: 1.5vh 1.5vh;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2vh;
    width: fit-content;
}

.game-container .bg-dark {
    background-color: #212529;
    border: 2px solid #fff;
}

#pong-game {
    border: 1px solid #ffffff;
}

.game-info h2, .game-info h3 {
    font-family: 'Press Start 2P', cursive;
}

.btn-success, .btn-danger {
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.btn-success:hover, .btn-danger:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {

	.play-options-container{
		transform: translate(0%, 10%);
	}

    .play-options-container, .game-options {
		position: static;
		margin: 0 auto;
        width: fit-content;
        padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
    }

    .play-title {
        font-size: 2.5vh;
		width: fit-content;
    }

    .game-option-button {
        width: fit-content;
        font-size: 1.5vh;
        padding: 2vh 2vh;
    }
    
    .game-container .row {
        flex-direction: column-reverse;
    }

    .game-container canvas {
        max-height: 200px;
    }
}